@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&display=swap');

.top-bar {
    justify-content: center;
    display: flex;
}

li {
    list-style: none;
    display: flex;
    padding: 3rem;
    position: relative;
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    transition: 0.3s;
}

.top-bar ul li:hover a {
    color: #058240;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 35px;
}

#shield {
    margin-top: 70px;
}

.orchlon {
    padding-top: 40px;
    position: absolute;
    text-align: center;
    left: 490px;
}

.btn {
    display: inline-block;
    width: 500px;
    height: 500px;
    background-color: #f7f7f7;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    overflow: hidden;
    position: relative;
}

#orchlon-text {
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    z-index: 1;
    position: relative;
    margin-top: -200px;
}
